{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class='form-group'>
            <legend class="border-bottom mb-4">Register</legend>
            {{ form|crispy  }} 
        </fieldset> 
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit" > Register </button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
           In case if you are register <a class="ml-2" href="{% url 'login' %}"> login </a>
        </small>
    </div>
</div>
{% endblock %}